.FullPost{
    border: 2px solid black;
    padding: 25px;

}
.FullPost h3,h5{
    font-size: 35px;
}
.dateTime{
    font-size: 12px;
    color: #7f7f7f;
    margin: 15px;
}
.Crutch i{
    display: block;
   font-size: 35px;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
}