.Comment{
    border: 1px solid black;
    padding: 5px;
    width: 320px;
    margin-bottom: 7px;
}
.Comment h6{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.Comment p{
    font-size: 12px;
}
.Comment i{
    cursor: pointer;
    font-size: 30px;
    display: block;
    text-align: right;
    padding: 5px;

}
.Comment i:hover{
    color: red;
}