.AddComment {
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    margin-left: 20px;
}
.AddComment input{
    font-size: 16px;
    width: 320px;
}
.AddComment textarea {
    font-size: 14px;
    width: 320px;
    height: 250px;
    display: block;
    margin-bottom: 10px;
}
.AddComment button{
    padding: 7px;
    font-size: 14px;

}