.second-div{
    max-width: 900px;
    border: 2px solid black;
}
.title{
    width: 320px;
    font-size: 16px;
    margin-bottom: 15px;
}
.news{
    font-size: 14px;
    width: 90%;
    height: 400px;
    margin-bottom: 15px;
}
.second-div button, input{
    display: block;
    padding: 10px;
    font-size: 15px;
    margin: 15px;
}