.OneNews{
    border: 2px solid black;
    padding: 25px;
    max-width: 700px;
    display: flex;

}
.OneNews h5{
    font-size: 24px;

}
.OneNews p{
    font-size: 10px;
    color: #7f7f7f;
}
.OneNews i{
    color: #2b81af;
    cursor: pointer;
    margin: 20px;
}

.OneNews img {
    display: block;
    margin-right: 20px;

}
OnePost--second{
    display: inline-block;
    width: 80%;
}