.AddPost{
    border: 1px solid black;
    background: #528CE0;
    padding: 10px;
    display: block;
    width: 100px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}